.root {
    width: auto;
    display: inline-flex;
    align-items: center;
    padding: 12px;
    margin: 0 6px 6px 0;
    background-color: white;
    border-radius: 16px;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 14px;
    color: #5B6C87;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(24, 168, 232, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(24, 168, 232, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(24, 168, 232, 0.2);;

}