@import "../../styles/mixins.scss";


.wrapper {
  @include inputWrapper;
}

.inputText  {
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 10px;
}

.mainWrapper {
  @include inputWrapper;
}

.inputWithIconFlexContainer {
  @include columnFlexCenterWithoutAlign;
}

.input {
  @include rowFlexCenter;
  gap: 8px;

  .icon {
    background-color: #3b3b3b;
  }

  .field {
    @include width100Height100;
    font-size: 20px;
    padding: 10px;
    border: none;
    border: 1px solid lightblue;
  }
}

.button {
  @include rowFlexCenter;
  width: 100%;
  gap: 8px;

  p {
    @include rowFlexCenter;
    width: 50%;
  }

  button {
    width: 100%;
    height: 30px;
    margin-top: 12px;
    background-color: lightblue;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
}

