@import "../../src/shared/styles/mixins.scss";

.page {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 700px;
    padding: 70px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: white;
    margin: 20px auto;
    gap: 30px;

}













